includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 3
    paths:
        - app
    scanFiles:
        - stubs/phpstan/laravel-scout-builder.stub
    excludePaths:
        analyse:
            - app/Filament/*
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: property.notFound
